@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto&display=swap");

:root {
    --header-font: "Kanit", sans-serif;
    --body-font: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    color: lightgray;
}

p, a, li, input, textarea {
    font-family: var(--body-font);
    color: lightgray;
}