@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --header-font: "Righteous", sans-serif;
    --body-font: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

p, a, li, input, textarea {
    font-family: var(--body-font);
}